@font-face {
  font-family: "NanumBarunPen";
  font-style: normal;
  font-weight: 700;
  transform: rotate(0.04deg); /* for anti-aliasing */
  src: 
    url("NanumBarunPen_B.eot"), /* IE9 Compat Modes */
    url("NanumBarunPen_B.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("NanumBarunPen_B.woff") format("woff"), /* Modern Browsers */
    url("NanumBarunPen_B.woff2") format("woff2"); /* Modern Browsers */
}
@font-face {
  font-family: "NanumBarunPen";
  font-style: normal;
  font-weight: 400;
  transform: rotate(0.04deg); /* for anti-aliasing */
  src: 
    url("NanumBarunPen_R.eot"), /* IE9 Compat Modes */
    url("NanumBarunPen_R.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("NanumBarunPen_R.woff") format("woff"), /* Modern Browsers */
    url("NanumBarunPen_R.woff2") format("woff2"); /* Modern Browsers */
}